.card-body{
  padding: 0.75rem 0.9rem;
}
.card-header{
  padding: 0.75rem 0.9rem;
}
#img-user-profile{
  padding: 2px;
  border-radius: 8px;
  border: 2px;
  height: 32px;
  background-color: whitesmoke;
}
.mr-8{
  margin-right: 8px;
}
/* .mid-icon{
  vertical-align: middle;
} */

.tabel-customs {
  border-collapse: collapse;
  font-size: 11px;
}
.tabel-customs > thead {
  background-color: #0079BA;
  color: #f2f2f2;
}
.tabel-customs > thead > tr > th {
  padding: 6px 8px;
}
.tabel-customs > tbody > tr > td {
  padding: 2px 8px;
}
.tabel-customs tr:nth-child(even){background-color: #f2f2f2;}
/* .tabel_custom tr:hover {background-color: #f2f2f2;} */